main {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.imagetitle {
    font-weight: 700;
        font-size: 18px;
        line-height: 200%;
        letter-spacing: 0.06em;
}

.imagetext {
        font-weight: 400;
        font-size: 16px;
        line-height: 188%;
        letter-spacing: 0.03em;
        color: #757575;
}

.maintitle {
        font-weight: 900;
        font-size: 44px;
        line-height: 136%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.featuretitle {
    font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

}

.featuretext {
    font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
}

.subtitle {
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
}

.nametitle {
    font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
}

.nametext {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #757575;
}

.webtitle {
    font-family: 'Raleway';
    text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
    
}
.webtitle2 {
    font-family: 'Raleway';
        font-size: 26px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.03em;
    color: #000000;
}

.webtitle3 {
    font-family: 'Raleway';
        font-size: 26px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.03em;
    color: #FFFFFF;

}

.linknormal {
text-decoration: none;
color: #212121;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em
}

.linknormal:hover {
    color: #2196F3;
}

.linkcurrent {
    color: #2196F3;
}

.contacts {
    color: #757575;
    font-style: normal;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
}

.mail {
        text-decoration-line: underline;
}

.contacts:hover {
    color: #2196F3
    
}

.button:hover {
    background: #2196F3;  
}
.button {
    cursor: pointer;
    
    background: #F5F4FA;
        border-radius: 4px;
            font-weight: 500;
            font-size: 16px;
            line-height: 162%;
            letter-spacing: 0.03em;
            color: #212121;
}

.btn {
    cursor: pointer;
    background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
            font-weight: 700;
            font-size: 16px;
            line-height:188%;
            letter-spacing: 0.06em;
            color: #FFFFFF;
}

.btn:hover {
    background: #ffffff;
    color:#000000;
}

.address {
    font-family: 'Roboto';
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.header {
    background: #FFFFFF;
}
.footer {
    background: #2F303A;
}