main {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

h3 {
    font-weight: 700;
        font-size: 18px;
        line-height: 200%;
        letter-spacing: 0.06em;
}

p {
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 188%;
        letter-spacing: 0.03em;
        color: #757575;
}

ul {
    list-style: none;
}

.webtitle {
    font-family: 'Raleway';
    text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
    
}
.webtitle2 {
    font-family: 'Raleway';
        font-size: 26px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.03em;
    color: #000000;
}

.webtitle3 {
    font-family: 'Raleway';
        font-size: 26px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.03em;
    color: #FFFFFF;

}

a {
text-decoration: none;
color: #212121;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em
}

a:hover {
    color: #2196F3;
}

.contacts {
    color: #757575;
    font-style: normal;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
}

.mail {
        text-decoration-line: underline;
}

.contacts:hover {
    color: #2196F3
    
}

.button:hover {
    background: #2196F3;  
}
.button {
    cursor: pointer;
    background: #F5F4FA;
        border-radius: 4px;
        font-family: 'Roboto';
            font-weight: 500;
            font-size: 16px;
            line-height: 162%;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
}
.address {
    font-family: 'Roboto';
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.header {
    background: #FFFFFF;
}
.footer {
    background: #2F303A;
}